/*Global CSS + header*/
@font-face {
    font-family: 'opensans-regular';
    src: url('../content/OpenSans-Regular.ttf');
}

html {
	font-family: opensans-regular, sans-serif;
	background-color: #EEEEEE;
}
body {
	margin: 0;
}

section {
	padding: 20px;
}

/*Header*/
header {
	max-width: 100%;
	max-height: 70px;
	padding: 20px;
	background-color: #3295FF;
	padding-left: 90px;
	color: #FFFFFF;
	position: relative;
}
header img {
	max-height: calc(100% - 40px);
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 20px;
}
header h1 {
	font-size: 40px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0;
}
.header-small-text {
	display: none;
}
@media only all and (max-width: 550px) {
	.header-large-text {
		display: none;
	}
	.header-small-text {
		display: inline-block;
	}
}
