.add-panel {
	display: flex;
	margin: 0 20%;
}
.add-panel_quote, .add-panel_rules {
	border-radius: 5px;
	background-color: var(--background-color_secondary);
	margin: 20px;
	padding: 15px;
}
.add-panel_main {
	flex: 3;
}
.add-panel_preview {
	text-align: center;
	margin: 30px;
}
.add-panel_preview > div {
	width: 100% !important
}
.add-panel_quote > textarea {
	width: 100%;
	height: 80px;
	max-height: 200px;
	resize: vertical;
}
.add-panel_rules {
	flex: 1;
}
.add-panel_rules > h2 {
	margin: 0;
	margin-bottom: 5px;
}
.add-panel_rules > ol {
	margin: 0;
	padding: 0;
	list-style-position: inside
}
.add-panel_rules > ol > li {
	border-top: solid 1px var(--text-color_secondary);
	padding: 5px 0;
}

.section-add {
	display: block;
	margin: 0 25%;
	background-color: var(--background-color_secondary);
	border-radius: 5px;
	padding: 20px;
}
.section-add li {
	margin-left: 16px;
}
input[type=password], input[type=date], select, .add-panel_quote textarea {
	width: calc(100% - 30px);
	color: var(--text-color_main);
	background-color: var(--background-color_secondary);
	padding: 10px 15px;
	border-radius: 5px;
	margin: 5px 0;
	border: 1px solid #DCDCDC;
	transition: border 200ms linear 0s;
}
input[type=password]:focus, input[type=date]:focus, select, .add-panel_quote textarea:focus   {
	border: 1px solid var(--color_main);
	transition: border 200ms linear 0s;
}
input[type=submit], .button, .search-menu ul, .parameters ul {
	color: var(--text-color_buttons);
	cursor: pointer;
	border: 1px solid #DCDCDC;
	text-transform: uppercase;
	font-weight: 800;
	background-color: var(--background-color_secondary);
	padding: 15px 20px;
	transition: color 200ms,background-color 200ms,border 200ms;
}
input[type=submit]:hover, .button:hover, .search-menu ul a:hover, .parameters ul a:hover, .selected {
	color: var(--text-color_secondary);
	background-color: var(--color_main);
	border: 1px solid var(--color_main);
	transition: color 200ms,background-color 200ms,border 200ms
}

.section-add_preview {
	text-align: center;
	padding-top: 20px;
}
.section-add_preview-box > .quote {
	width: 60%;
	margin: auto;
}
.section-add_preview-box {
	width: 100%;
}
.checkbox-label {
	display: inline-block;
	color: var(--text-color_buttons);
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	background-color: var(--background-color_secondary);
	padding: 5px 10px;
}
.checkbox-label:hover {
	color: var(--color_main);
}
.checkbox-label input {
	display: none;
}
.checkbox-label span::before {
	content: "✘";
	color: red;
}
input:checked ~ span::before {
	content: "✔";
	color: green;
}
